body {
  background-color: white;
  border: 2px;
}

.form {
  margin: auto;
  border: 10px;
  width: 500px;
}

.button {
  width: 300px;
}


h2 {
  text-align: center;
}

.card {
  margin: auto;
}

.label {
  color-text: red;
}

#data {
  border: solid black 2px;

}

.alert {
  display: none
}